{% load custom_tags %}
<div class="h-full w-full m-5 overflow-x-auto border border-base-content/5 accent bg-base-100 rounded-2xl">
    <div class="text-2xl font-bold w-full text-center py-2 bg-neutral text-neutral-content">{{ table_title }}</div>
    <table class="table">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in records %}
                <tr 
                {% if view_page %}
                class="hover:bg-base-300 cursor-pointer" 
                onclick="window.location='{% url view_page item.pk %}'"
                {% endif %}
                >
                    {% for field in fields %}
                        <td>{{ item|get_attr:field }}</td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr><td colspan="{{ fields|length }}">No records found.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>