{% extends 'form.html' %}

{% block title %}Login{% endblock title %}
{% block form_title %}Login{% endblock form_title %}

{% block form_content %}
{{ form.username }}
{{ form.password }}
{% comment %} <fieldset class="fieldset w-full">
    <legend class="fieldset-legend ">Email</legend>
    <label class="input validator w-full">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
            </g>
        </svg>
        <input type="email" placeholder="mail@site.com" required />
    </label>
    <div class="validator-hint hidden">Enter valid email address</div>
</fieldset>
 {% endcomment %}
{% endblock form_content%}

{% block form_buttons %}
<button class=" btn w-full btn-neutral" type="submit">Login</button>
{% endblock form_buttons %}

{% block form_messages%}
<div class="flex flex-col justify-around items-center">
<p>
    New to Kindred Causes?
    <a class="link text-primary-content link-primary type=" submit" href="{% url 'user_registration' %}"">Create an Account</a>
</p>
<p>
    Trouble logging in?
        <a class="link text-primary-content link-primary type=" submit" href="{% url 'user_registration' %}"">Reset Password</a>

</p>
</div>
{% endblock form_messages%}