{% extends 'form.html' %}

{% block title %}Login{% endblock title %}
{% block form_title %}Login{% endblock form_title %}

{% block form_content %}
{{ form.username }}
{{ form.password }}
{% endblock form_content%}

{% block form_buttons %}
<button class=" btn w-full btn-neutral" type="submit">Login</button>
{% endblock form_buttons %}

{% block form_messages%}
<div class="flex flex-col justify-around items-center">
<p>
    New to Kindred Causes?
    <a class="link text-primary-content link-primary type=" submit" href="{% url 'user_registration' %}"">Create an Account</a>
</p>
<p>
    Trouble logging in?
        <a class="link text-primary-content link-primary type=" submit" href="{% url 'user_registration' %}"">Reset Password</a>

</p>
</div>
{% endblock form_messages%}