{% extends 'form.html' %}

{% block page_title %}Event Management{% endblock page_title %}
{% block form_title %}
    {% if view_type == 'update' %}
    Edit Event
    {% elif view_type == 'create' %}
    Create Event
    {% endif %}
{% endblock form_title %}

{% block form_action %}
{% if view_type == 'update' %}
      {% url 'edit_event_management' %}
   {% elif view_type == 'create' %}
      {% url 'new_event_management' %}
   {% endif %}
{% endblock form_action %}

{% block form_content %}
<fieldset class="fieldset w-full">
    {{form.name}}
</fieldset>

<fieldset class="fieldset w-full">
    {{form.description}}
</fieldset>

<fieldset class="fieldset w-full">
    {{form.location}}
</fieldset>

<div class="flex flex-row gap-2 w-full">
    <fieldset class="fieldset w-1/2">
        {{form.required_skills}}
    </fieldset>

    <fieldset class="fieldset w-1/2">
        {{form.urgency}}
    </fieldset>
</div>


<fieldset class="fieldset w-full">
    <legend class="fieldset-legend">Date and Time</legend>
    <input type="datetime-local" class="input w-full" required/>
</fieldset>


{% endblock form_content%}

{% block form_buttons %}
<a role="button" class="btn btn-primary w-full" type="submit">
    {% if view_type == 'update' %}
      Save Changes
   {% elif view_type == 'create' %}
      Create Event
   {% endif %}
</a>
{% endblock form_buttons %}