{% extends 'form.html' %}

{% block page_title %}Event Review Form{% endblock page_title %}
{% block form_title %}
   {% if view_type == 'update' %}
      Edit Event Review
   {% elif view_type == 'create' %}
      New Event Review
   {% endif %}
{% endblock form_title %}

{% block form_action %}
  {% url 'new_event_review' event.pk %}
{% endblock form_action %}

{% block form_content %}
<div class="form-row">
   {{ form.rating }}
</div>
<div class="form-row">
   {{ form.comments }}
</div>
{% endblock form_content%}

{% block form_buttons%}
<button type="reset" onclick="history.back()" class="btn btn-soft btn-error">Cancel</button>
<button type="submit" class="btn btn-soft btn-success">
   {% if view_type == 'update' %}
      Save Changes
   {% elif view_type == 'create' %}
      Create Event Review
   {% endif %}
</button>
{% endblock form_buttons%}