{% extends 'form.html' %}

{% block title %}Event Management{% endblock title %}
{% block form_title %}Event Management Form{% endblock form_title %}


{% block form_content %}

<fieldset class="fieldset w-full">
    <legend class="fieldset-legend ">Event Name</legend>
    <input type="text" class="input w-full" placeholder="Enter Event Name" />
</fieldset>

<fieldset class="fieldset w-full">
    <legend class="fieldset-legend">Event Description</legend>
    <textarea class="textarea h-24 text-wrap w-full" placeholder="Enter Event Description"></textarea>
</fieldset>

<fieldset class="fieldset w-full">
    <legend class="fieldset-legend">Event Location</legend>
    <input type="text" class="input w-full" placeholder="Enter Location" />
</fieldset>

<div class="flex flex-row gap-2">

    <fieldset class="fieldset">
        <legend class="fieldset-legend">Skills</legend>
        <details class="dropdown">
            <summary class="select">Select Skills</summary>
            <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                <li>
                    <label class="fieldset-label">
                        <input type="checkbox" checked="checked" class="checkbox" />
                        Juggling
                    </label>
                </li>
                <li>
                    <label class="fieldset-label">
                        <input type="checkbox" checked="checked" class="checkbox" />
                        Culinary
                    </label>
                </li>
                <li>
                    <label class="fieldset-label">
                        <input type="checkbox" checked="checked" class="checkbox" />
                        Empathy
                    </label>
                </li>
            </ul>
        </details>
    </fieldset>



    <fieldset class="fieldset">
        <legend class="fieldset-legend">Urgency</legend>
        <select class="select">
            <option disabled selected>Choose Urgency</option>
            <option>High</option>
            <option>Medium</option>
            <option>Low</option>
        </select>
    </fieldset>
</div>


<fieldset class="fieldset">
    <legend class="fieldset-legend">Event Location</legend>
    <input type="datetime-local" class="input" />
</fieldset>


{% endblock form_content%}

{% block form_buttons %}
<a role="button" class="btn btn-primary" type="submit"> Create Event</a>
{% endblock form_buttons %}