{% extends 'table.html' %}

{% block title %}Browse Events{% endblock title %}
{% block table_title %}Broswe Events{% endblock table_title %}
{% block table_content %}

<div class="overflow-x-auto border border-base-content/5 bg-base-100 w-5xl">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Skills Required</th>
        <th>Date</th>
        <th>Urgency Level</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      {% for event in events %}
        <tr class="hover:bg-base-300">
          <th>{{event.name}}</th>
          <th>{{event.description}}</th>
          <th>{{event.location}}</th>
          <th>
            <ul class="list-disc list-inside">
              {% for skill in event.required_skills.all %}
                <li>{{ skill.name }}</li>
              {% empty %}
                <li>None</li>
              {% endfor %}
            </ul>
          </th>
          <th>{{event.date}}</th>
          <th>{{event.urgency}}</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% if user.is_staff %}
<a role="button" class="btn btn-primary" type="submit" href="{% url 'new_event_management' %}"> Create a Event (admin only)</a>
{% endif %}

{% endblock table_content%}