{% extends 'root.html' %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="flex grow justify-around items-center my-15">
        <form class="accent bg-base-300 rounded-2xl h-fit flex flex-col space-y-10 p-10">
            <div class="text-2xl">{% block form_title %}{% endblock form_title %}</div>

            <div class="flex flex-col space-y-3.5 items-center">{% block form_content %}{% endblock form_content %}</div>
            {% block form_buttons %}{% endblock form_buttons %}
        </form>
    </div>
{% endblock content %}