{% extends 'form.html' %}

{% block title %}Volunteer Matching{% endblock title %}
{% block form_title %}Volunteer Matching{% endblock form_title %}

{% block form_content %}
<!-- Volunteer Selection -->
<fieldset class="fieldset w-full">
    <legend class="fieldset-legend">Volunteer</legend>
    <select class="select w-full">
        <option disabled selected>Select Volunteer</option>
        <option>Steve</option>
        <option>Joe</option>
        <option>Billy</option>
        <option>Stacy</option>
        <option>Stacy's Mom</option>
    </select>
</fieldset>

{% comment %} <label class="label mt-2">
    <span class="label-text-alt text-base">Volunteer profile and availability will appear here</span>
</label> {% endcomment %}


<!-- Event Selection -->
<fieldset class="fieldset w-full">
    <legend class="fieldset-legend">Event</legend>
    <select class="select w-full">
        <option disabled selected>Select Event</option>
        <option>Clean</option>
        <option>Cook</option>
        <option>Build</option>
        <option>Supervise</option>
        <option>Crowd Control</option>
    </select>
</fieldset>

<!-- Match Score Indicator -->
<div role="alert" class="alert alert-info my-1">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <div>
        <div class="font-bold">Match Score</div>
        <div>Select both volunteer and event to see compatibility</div>
    </div>
</div>

<!-- Notes Section -->
<fieldset class="fieldset w-full">
    <legend class="fieldset-legend">Notes</legend>
    <textarea class="textarea h-24 text-wrap w-full" placeholder="Enter Aditional Notes"></textarea>
</fieldset>

{% endblock form_content %}

{% block form_buttons %}
<div class="grow"></div>
<button class="btn btn-ghost">Cancel</button>
<button class="btn btn-success">Assign Volunteer</button>
{% endblock form_buttons %}