{% extends 'form.html' %}

{% block page_title %}Notification Form{% endblock page_title %}
{% block form_title %}
    {% if view_type == 'update' %}
    Edit Notification (dont do this)
    {% elif view_type == 'create' %}
    Create Notification
    {% endif %}
{% endblock form_title %}

{% block form_action %}
{% if view_type == 'update' %}
        {% url 'edit_notification' form.instance.pk %}
    {% elif view_type == 'create' %}
        {% url 'new_notification' %}
    {% endif %}
{% endblock form_action %}

{% block form_content %}
  <fieldset class="fieldset w-full">
    {{form.event}}
  </fieldset>

    <fieldset class="fieldset w-full">
        {{form.subject}}
    </fieldset>

    <fieldset class="fieldset w-full">
        {{form.body}}
    </fieldset>
{% endblock form_content%}

{% block form_buttons %}
    {% if view_type == 'view' %}
        <a onClick="javascript:history.go(-1);" class="btn">Back</a>
    {% else %}
        <a href="{% url 'event_browser' %}" class="btn">Cancel</a>
        <button type="submit" class="btn btn-success">
            {% if view_type == 'update' %} 
                Save Changes
            {% elif view_type == 'create' %}
                Create Notification
            {% endif %}
        </button>
    {% endif %}
{% endblock form_buttons %}