{% extends 'form.html' %}

{% block page_title %}Task Deletion Form{% endblock page_title %}
{% block form_title %}
    <div class="text-error">Delete Task "{{ task.name }}"</div>
{% endblock form_title %}

{% block form_action %}
    {% url 'delete_task' task.id %}
{% endblock form_action %}

{% block form_content %}
    This action can not be undone.</br>
    Are you sure you want to delete the task "{{ task.name }}"?
{% endblock form_content%}

{% block form_buttons %}
    <a onClick="javascript:history.go(-1);" class="btn btn-soft btn-success">Cancel</a>
    <button type="submit" class="btn btn-soft btn-error">Delete Task Forever</button>
{% endblock form_buttons %}