{% extends 'form.html' %}

{% block page_title %}Task Form{% endblock page_title %}
{% block form_title %}
    {% if view_type == 'update' %}
    <div class="flex justify-between">
        <div>Edit Task</div>
        <a class="btn btn-outline btn-error" href="{% url 'delete_task' task.pk %}">Delete Task</a>
    </div>
    {% elif view_type == 'create' %}
    Create Task for: {{ event.name }}
    {% endif %}
{% endblock form_title %}

{% block form_action %}
    {% if view_type == 'update' %}
        {% url 'edit_task' task.id %}
    {% elif view_type == 'create' %}
        {% url 'new_task' event.id %}
    {% endif %}
{% endblock form_action %}

{% block form_content %}
    <fieldset class="fieldset w-full">
        {{form.name}}
    </fieldset>

    <fieldset class="fieldset w-full">
        {{form.description}}
    </fieldset>

    <fieldset class="fieldset w-full">
        {{form.capacity}}
    </fieldset>

    <fieldset class="fieldset w-full">
        {{form.location}}
    </fieldset>

    <fieldset class="fieldset w-full">
        {{form.skills}}
    </fieldset>
{% endblock form_content%}

{% block form_buttons %}
    {% if view_type == 'view' %}
        <a onClick="javascript:history.go(-1);" class="btn">Back</a>
    {% else %}
        <a onClick="javascript:history.go(-1);" class="btn">Cancel</a>
        <button type="submit" class="btn btn-success">
            {% if view_type == 'update' %} 
                Save Changes
            {% elif view_type == 'create' %}
                Create Task
            {% endif %}
        </button>
    {% endif %}
{% endblock form_buttons %}