{% extends 'form.html' %}

{% block page_title %}Task Form{% endblock page_title %}
{% block form_title %}
    {% if view_type == 'update' %}
    <div class="flex justify-between">
        <div>Edit Task</div>
        <a class="btn btn-outline btn-error" href="{% url 'delete_task' task.pk %}">Delete Task</a>
    </div>
    {% elif view_type == 'create' %}
    Create Task for: {{ event.name }}
    {% endif %}
{% endblock form_title %}

{% block form_action %}
    {% if view_type == 'update' %}
        {% url 'edit_task' task.id %}
    {% elif view_type == 'create' %}
        {% url 'new_task' event.id %}
    {% endif %}
{% endblock form_action %}

{% block form_content %}
    <fieldset class="fieldset w-full">
        {{form.name}}
    </fieldset>

    <fieldset class="fieldset w-full">
        {{form.description}}
    </fieldset>

    <fieldset class="fieldset w-full">
        {{form.capacity}}
    </fieldset>

    <fieldset class="fieldset w-full">
        {{form.location}}
    </fieldset>
    <fieldset class="fieldset w-full">
        <legend class="fieldset-legend">Skills</legend>
    
        <details class="dropdown w-full">
            <summary class="select w-full">Select Skills</summary>
            <div class="dropdown-content bg-base-100 rounded-box z-10 w-full max-h-60 overflow-y-auto p-2 shadow">
                <div class="flex flex-col gap-2">
                    {% for checkbox in form.skills %}
                        <label class="flex items-center gap-2 px-2 py-1 hover:bg-base-200 rounded">
                            {{ checkbox.tag }}
                            <span>{{ checkbox.choice_label }}</span>
                        </label>
                    {% endfor %}
                </div>
            </div>
        </details>
    </fieldset>
    
{% endblock form_content%}

{% block form_buttons %}
    {% if view_type == 'view' %}
        <a onClick="javascript:history.go(-1);" class="btn">Back</a>
    {% else %}
        <a onClick="javascript:history.go(-1);" class="btn">Cancel</a>
        <button type="submit" class="btn btn-success">
            {% if view_type == 'update' %} 
                Save Changes
            {% elif view_type == 'create' %}
                Create Task
            {% endif %}
        </button>
    {% endif %}
{% endblock form_buttons %}