<div class="navbar bg-base-100 text-base-content shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl font-bold" href="{% url 'landing' %}">Kindred Causes</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal text-black px-1 gap-2 items-center">
        {% if not user.is_authenticated %}
        <li><a href="{% url 'register' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% else %}
            <li><a href="{% url 'home' %}">Home</a></li>
            {% for group in user.groups.all %}
                {% if group.name == "Admin" %}
                    <li><a href="{% url 'new_event' %}">Create Event</a></li>
                    <li><a href="{% url 'new_notification' %}">Create Notification</a></li>
                    
                {% endif %}
            {% endfor %}
            <li><a href="{% url 'event_browser' %}">Browse Events</a></li>
            <li><a href="{% url 'volunteer_history' %}">Volunteer History</a></li>

            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar indicator">
                    {% if unread_notifications > 0 %}
                        <span class="indicator-item status indicator-start status-primary"></span>
                    {% endif %}
                    <div class="w-10 rounded-full">
                        {% if profile.avatar %}
                            <img src="{{ profile.avatar.image_url }}" alt="Avatar" class="rounded-full w-10 h-10">
                        {% else %}
                            <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" alt="Default Avatar" class="rounded-full w-10 h-10">
                        {% endif %}
                    </div>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                    <li>
                        <a class="w-full" href="{% url 'account' %}">
                            Account
                        </a>
                    </li>
                    <li>
                        <a class="justify-between w-full" href="{% url 'inbox' %}">
                            Inbox
                            {% if unread_notifications > 0 %}
                                <span class="badge badge-primary">{{ unread_notifications }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li><a class="w-full">Settings</a></li>
                    <li>
                        <form class="w-full" action="{% url 'logout' %}" onclick="this.submit();" method="post">
                            {% csrf_token %}
                            <button type="submit" class="w-full hover: cursor-pointer">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        {% endif %}
        </ul>
    </div>
</div>